<div class="hub hub_one is-active">
  <div class="hub__wrp">
    <div class="hub__video shadow-videos bg-bl"
      style="background-image: url({{ url.step1 }}img/hub/hub-video1-first.jpg);
    ">
      <video class="hero-video full-screen" autoplay muted loop playsinline
        playsinlineposter="{{ url.step1 }}img/hub/hub-video1-first.jpg">
        <source
          src="https://player.vimeo.com/progressive_redirect/playback/873948788/rendition/360p/file.mp4?loc=external&signature=4b9f9aa5df06d1e52f153bb21e80637d7d18f9aaaf34766797a21b626b3ebd95"
          type="video/mp4">
      </video>
    </div>
    <div class="hub__content">
      <h1>Meet
        <span>Mongolia</span>
      </h1>
      <div class="hub__text">
        <p>This interactive site is best experienced with sound.</p>
      </div>
      <div class="hub__text-sm">
        <p>(Video will begin in <b data-video-time>5</b>)</p>
      </div>
      <div class="hub__btn">
        <button
          class="btn-round btn-round_sound btn btn--orange flex items-center"
          data-video-sound-next>
          <div
            class="btn-round_circle w-20 h-20 flex items-center justify-center bg-orange rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="17"
              viewBox="0 0 24 17" fill="none">
              <path
                d="M19.106 1C21.0947 2.98933 22.2119 5.68708 22.2119 8.5C22.2119 11.3129 21.0947 14.0107 19.106 16M15.3613 4.7447C16.3557 5.73936 16.9143 7.08824 16.9143 8.4947C16.9143 9.90115 16.3557 11.25 15.3613 12.2447M10.5474 1.07484L5.24328 5.31812H1V11.683H5.24328L10.5474 15.9263V1.07484Z"
                stroke="#23196E" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
          <span class="btn-round_text block text-lg">Click for audio</span>
        </button>
      </div>
    </div>
  </div>
</div>