<footer class="footer">
    <div class="footer-container">
        <a href="https://edition.cnn.com/" target="_blank">
            <img src="{{ url.step1 }}img/favicon.png" alt>
        </a>
        <ul>
            <li><a href="http://commercial.cnn.com/" target="_blank">Advertise</a></li>
            <li><a href="https://edition.cnn.com/terms" target="_blank">Terms of
                    use</a></li>
            <li><a href="https://edition.cnn.com/privacy" target="_blank">Privacy
                    Policy</a></li>
        </ul>
        <p>© 2023 Cable News Network. A Warner Bros. Discovery Company. CNN Sans
            ™ & © 2016 Cable News Network.</p>
    </div>
</footer>