---
title: Harnessing Mongolia’s Greatest Resource – Rio Tinto – CNN
description: Home Page description
pageName: homePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
	<main data-scroll-container>
		{% include 'pages/home/_hero.twig' %}
		{% include 'blocks/_mongolia-banner.twig' %}
		{% include 'blocks/_footer.twig' %}
	</main>
{% endblock %}



