.footer {
	background: #000;
	color: #737373;
	font-size: 14px;
	padding: 50px 20px 80px;
	position: relative;
	z-index: 10;
	// display: none;

	&-container {
		max-width: 1180px;
		margin: 0 auto;
	}
	img {
		display: block;
		width: 60px;
		margin-bottom: 20px;
	}
	ul {
		border-top: 1px solid #262626;
		padding-top: 20px;
		margin-bottom: 5px;
		li {
			display: inline-block;
			margin-right: 10px;
		}
		a {
			color: #737373 !important;
			font-size: 14px;
			text-decoration: none !important;
		}
	}
}