<div class>
    <div data-horizontal data-skip-mobile="true" data-usw="true" class>
        <div class="right-hz mb-100 sm:mb-0 portrait:mb-0" data-offset="-40"
            data-horizontal-img-wrap>
            <div
                class="col-start-2 col-span-10 sm:col-span-8 xs:col-span-12 right-hz_wrap"
                data-horizontal-img>
                {# <div> #}

                    <div
                        class="h-block mr-[110px] xs:xs:max-w-[85%] portrait:mr-0 xs:mr-50 overflow-hidden">

                        <picture class="h-full block xs:h-auto">
                            <source srcset="{{ url.step1 }}img/horizontal/horizontal2.webp"
                                type="image/webp">
                            <img class="h-full w-auto xs:w-full xs:h-auto"
                                src="{{ url.step1 }}img/horizontal/horizontal2.jpg"
                                alt="image">
                        </picture>
                    </div>

                    <div
                        class="h-block h-block_center-bottom flex flex-col justify-center mr-[110px] portrait:mr-0">
                        <header>
                            <h2 data-split data-type="title">Major Festivals <br>
                                in Mongolia</h2>
                            {# <button class="btn-right "></button> #}
                            <button class="btn-right btn-right_blue">
                                <div class="btn-right_arrow">
                                    <span></span>
                                    <span></span>
                                </div>
                            </button>
                        </header>

                        <div
                            class="flex h-block_content ml-[100px] xs:ml-50 xs:items-start mt-[60px]">
                            <div class="bg-pattern bg-pattern_center">
                                <div
                                    class="overflow-hidden v-aspect-ratio-20-14">
                                    <video autoplay loop muted playsinline
                                        data-video-preload>
                                        <source
                                            data-src="https://player.vimeo.com/progressive_redirect/playback/873949108/rendition/360p/file.mp4?loc=external&signature=3e2329b746859ac73dafb1f3e7d0c71fbf42ff803c17db3ce029b8dc1d990d63"
                                            type="video/mp4">
                                    </video>
                                </div>
                            </div>

                            <div
                                class="h-block_text ml-[25px] mb-[50px] xs:mb-0">
                                <h3>Naadam Festival</h3>
                                <p>Lorem ipsum dolor sit amet consectetur. At ac
                                    dictum eu ut in interdum dolor nunc
                                    sollicitudin. </p>
                            </div>
                        </div>
                    </div>

                    <div class="h-block event-2 mr-[140px] xs:mr-[75px]">
                        <div class="flex h-block_content h-full">
                            <div
                                class="h-full v-aspect-ratio-16-19 overflow-hidden">

                                <video
                                    class="h-full w-full object-cover block xs:w-full xs:h-auto"
                                    autoplay loop muted playsinline
                                    data-video-preload>
                                    <source
                                        data-src="https://player.vimeo.com/progressive_redirect/playback/878191750/rendition/360p/file.mp4?loc=external&signature=99a31b6273a34e397e9683350f9b09496ab5edec2e9d001acd63d980b42c97d0"
                                        type="video/mp4">
                                </video>
                            </div>


                            <div
                                class="h-block_text ml-[25px] flex flex-col justify-center relative top-[0%]">
                                <h3>Nomadic Festival</h3>
                                <p>Lorem ipsum dolor sit amet consectetur. At ac
                                    dictum eu ut in interdum dolor nunc
                                    sollicitudin. </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="h-block mr-[200px] flex items-center pt-[2vh] portrait:mr-0 portrait:justify-end xs:ml-[23%] sm:justify-end">
                        <div
                            class="h-block_content bg-pattern bg-pattern_red bg-pattern_left h-auto z-[1]">
                            <div
                                class="w-[380px] h-xs:w-[330px] portrait:w-[450px] xs:w-auto xsm:portrait:w-auto overflow-hidden">
                                <video class="h-[412px] w-full object-cover"
                                    autoplay loop muted playsinline
                                    data-video-preload>
                                    <source
                                        data-src="https://player.vimeo.com/progressive_redirect/playback/873949108/rendition/360p/file.mp4?loc=external&signature=3e2329b746859ac73dafb1f3e7d0c71fbf42ff803c17db3ce029b8dc1d990d63"
                                        type="video/mp4">
                                </video>
                            </div>

                            <div class="h-block_text mt-[30px]">
                                <h3>Golden Eagle Festival</h3>
                                <p>Lorem ipsum dolor sit amet consectetur. At ac
                                    dictum eu ut in interdum dolor nunc
                                    sollicitudin. </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="h-block flex items-center mr-[200px] xs:mr-0 pt-[10vh]">
                        <div class="h-block_content h-auto">

                            <div
                                class="h-block_text mb-[30px] sm:mb-0 portrait:mb-0">
                                <h3>Ice Festival</h3>
                                <p>Lorem ipsum dolor sit amet consectetur. At ac
                                    dictum eu ut in interdum dolor nunc
                                    sollicitudin. </p>
                            </div>

                            <div class="w-[640px] xs:w-auto overflow-hidden">
                                <picture class="w-full h-auto block">
                                    <source srcset="{{ url.step1 }}img/horizontal/h2-4.webp"
                                        type="image/webp">
                                    <img class="w-full h-auto"
                                        src="{{ url.step1 }}img/horizontal/h2-4.jpg"
                                        alt="image">
                                </picture>
                            </div>
                        </div>
                    </div>
                    {# </div> #}
            </div>
        </div>
    </div>
</div>