
        <div id="map-wrapper">
          <div class="map-transition">
            <h2 class="section-title text-[#F8A328]" data-type="title">A Journey Through Mongolia</h2>
            <div class="map-transition_bg"></div>
            <div class="map-transition_fg"></div>
          </div>
          <section id="map-mongolia" class="map">
            <div id="map-holder" class="map-holder"></div>
            <div class="map-locations-holder">
              <div id="map-locations" class="map-locations">
                <div class="map-category" data-category="adventure">
                  <div class="map-category-header">
                    Adventure
                  </div>
                  <div class="map-category-content">
                    <!-- 1 -->
                    <div
                      class="map-location"
                      data-location-id="id-1"
                      data-coords="47.594803317982645, 113.8622525541856"
                    >
                        <span class="number"><span>1</span></span>
                          <h3 class="title">4WD & Motorcycle Expeditions</h3>
                          <img
                          src="../img/map/img-6.jpg"
                          width="389"
                          height="219"
                          alt="4WD & Motorcycle Expeditions"
                        />
                          <p class="text">Discover the untamed beauty of the steppes’ vast, open plains, journeying through grasslands and rolling hills to experience the nomadic way of life. 
                          </p>
                        
                    </div>

                    <!-- 2 -->
                    <div
                      class="map-location"
                      data-location-id="id-2"
                      data-coords="51.07124135066038, 99.28610949284062"
                    >
                        <span class="number"><span>2</span></span>
                          <h3 class="title">Dukha Tribe Seasonal Camps</h3>
                          <img
                          src="../img/map/img-7.jpg"
                          width="389"
                          height="219"
                          alt="Dukha Tribe Seasonal Camps"
                        />
                          <p class="text">Ride a reindeer and learn more about the centuries-old traditions and connection with nature of the nomadic reindeer herders, also known as the Tsaatan.
                          </p>
                        
                    </div>


                    <!-- 3 -->
                    <div
                      class="map-location"
                      data-location-id="id-3"
                      data-coords="42.79514758608873, 105.0323649429658"
                    >
                        <span class="number"><span>3</span></span>
                          <h3 class="title">Ride a Camel</h3>
                          <img
                          src="../img/map/img-8.jpg"
                          width="389"
                          height="219"
                          alt="Ride a Camel"
                        />
                          <p class="text">Trek through the Gobi Desert on the back of a two-humped Bactrian camel through dramatic scenery and endless sand dunes.
                          </p>
                        
                    </div>

                    <!-- 4 -->
                    <div
                      class="map-location"
                      data-location-id="id-4"
                      data-coords="47.57213559888772, 107.79445822744593"
                    >
                        <span class="number"><span>4</span></span>
                          <h3 class="title">Horseback Archery</h3>
                          <img
                          src="../img/map/img-9.jpg"
                          width="389"
                          height="219"
                          alt="Horseback Archery"
                        />
                          <p class="text">Connect with the equestrian heritage of Mongolia and explore the ancient sport of mounted archery still taught to children as young as three years old.
                          </p>
                        
                    </div>

                    <!-- 5 -->
                    <div
                      class="map-location"
                      data-location-id="id-5"
                      data-coords="48.16603564126435, 107.73593775320032"
                      data-coords-title="Gorkhi-Terelj National Park"
                      data-coords-2="47.87812951429135, 107.04394647252624"
                      data-coords-2-title="Sky Resort"
                      data-coords-3="48.90006969965285, 89.000000291393"
                      data-coords-3-title="Altai Mountains"
                      
                    >
                        <span class="number"><span>5</span></span>
                          <h3 class="title">Skiing</h3>
                          <img
                          src="../img/map/img-10.jpg"
                          width="389"
                          height="219"
                          alt="Skiing"
                        />
                          <p class="text">Carve your way through snow-covered mountains including Gorkhi-Terelj National Park, Sky Resort in Ulaanbaatar, and the Altai Mountains.
                          </p>
                        
                    </div>
                  </div>
                </div>
                <div class="map-category" data-category="nature">
                  <div class="map-category-header">
                    Nature
                  </div>
                  <div class="map-category-content">
                    <!-- 1 -->
                    <div
                      class="map-location"
                      data-location-id="id-6"
                      data-coords="48.65132545854138, 88.2946156881343"
                    >
                        <span class="number"><span>1</span></span>
                          <h3 class="title">Khoton Nuur Lake</h3>
                          <img
                          src="../img/map/img-16.jpg"
                          width="389"
                          height="219"
                          alt="Khoton Nuur Lake"
                        />
                          <p class="text">Pristine lake in the Altai Tavan Bogd National Park, where crystal-clear waters offer a serene setting for boating, fishing, and connecting with nature. 
                          </p>
                        
                    </div>

                    <!-- 2 -->
                    <div
                      class="map-location"
                      data-location-id="id-7"
                      data-coords="47.81665848488731, 106.99999996144297"
                    >
                        <span class="number"><span>2</span></span>
                          <h3 class="title">Bogd Khan Mountain</h3>
                          <img
                          src="../img/map/img-17.jpg"
                          width="389"
                          height="219"
                          alt="Bogd Khan Mountain"
                        />
                          <p class="text">Discover the ecological wonders in this UNESCO Biosphere Reserve, and hike through its lush forests and alpine meadows.
                          </p>
                        
                    </div>

                    <!-- 3 -->
                    <div
                      class="map-location"
                      data-location-id="id-8"
                      data-coords="44.142443805816036, 103.72058039887496"
                    >
                        <span class="number"><span>3</span></span>
                          <h3 class="title">Bayanzag</h3>
                          <img
                          src="../img/map/img-18.jpg"
                          width="389"
                          height="219"
                          alt="Bayanzag"
                        />
                          <p class="text">Also known as the Flaming Cliffs for its red sandstone formations, the ‘Cemetery of Dinosaurs’ is so named for the fossilized remains found here that paint a vivid picture of Mongolia’s prehistoric past. 
                          </p>
                        
                    </div>

                    <!-- 4 -->
                    <div
                      class="map-location"
                      data-location-id="id-9"
                      data-coords="43.66698773572405, 101.52563815358064"
                    >
                        <span class="number"><span>4</span></span>
                          <h3 class="title">Khongor Sand Dunes</h3>
                          <img
                          src="../img/map/img-19.jpg"
                          width="389"
                          height="219"
                          alt="Khongor Sand Dunes"
                        />
                          <p class="text">Stretching for 100 km, the “Singing Dunes” are so named for the sounds they produce when the wind whistles over their crest. Climb up the dunes to enjoy views of the ever-shifting landscape of the Gobi Desert.
                          </p>
                        
                    </div>


                    <!-- 5 -->
                    <div
                      class="map-location"
                      data-location-id="id-10"
                      data-coords="48.47156395803791, 88.71779312597718"
                      data-coords-title="Altai Tavan Bogd National Park"
                      data-coords-2="49.76490571037711, 91.34200611615954"
                      data-coords-2-title="Kharkhiraa Turgen Valley"
                      data-coords-3="49.17135875693084, 87.87551280768471"
                      data-coords-3-title="Malchin Peak"
                    >
                        <span class="number"><span>5</span></span>
                          <h3 class="title">Hiking & Trekking</h3>
                          <img
                          src="../img/map/img-20.jpg"
                          width="389"
                          height="219"
                          alt="Hiking & Trekking"
                        />
                          <p class="text">From UNESCO World Heritage-listed valleys to glacier-capped mountains and vast steppe terrain, Mongolia’s diverse landscape offers hiking and trekking opportunities for various skill levels.
                          </p>
                        
                    </div>

                  </div>
                </div>
                <div class="map-category" data-category="culture">
                  <div class="map-category-header">
                    Culture
                  </div>
                  <div class="map-category-content">
                    <!-- 1 -->
                    <div
                      class="map-location"
                      data-location-id="id-11"
                      data-coords="48.7538597472179, 108.66370704680554"
                    >
                        <span class="number"><span>1</span></span>
                          <h3 class="title">Great Burkhan Khaldun Mountain</h3>
                          <img
                          src="../img/map/img-11.jpg"
                          width="389"
                          height="219"
                          alt="Great Burkhan Khaldun Mountain"
                        />
                          <p class="text">Designated part of the Khan Khentii Strictly Protected Area, Burkhan Khaldun is considered one of Mongolia’s most sacred mountains and is believed to be both the birthplace, and burial ground, of Genghis Khan.
                          </p>
                        
                    </div>

                    <!-- 2 -->
                    <div
                      class="map-location"
                      data-location-id="id-12"
                      data-coords="49.02009895281542, 89.00000422102719"
                    >
                        <span class="number"><span>2</span></span>
                          <h3 class="title">Petroglyphic Complexes of the Mongolian Altai</h3>
                          <img
                          src="../img/map/img-12.jpg"
                          width="389"
                          height="219"
                          alt="Petroglyphic Complexes of the Mongolian Altai"
                        />
                          <p class="text">This petroglyph collection is a UNESCO World Heritage site and represents one of the best-preserved visual records found in Central and North Asia, displaying human history and culture over 12,000 years.
                          </p>
                        
                    </div>


                    <!-- 3 -->
                    <div
                      class="map-location"
                      data-location-id="id-13"
                      data-coords="47.866741025384044, 107.39098231931472"
                      data-coords-title="My Mongolia Eco Ger Camp"
                      data-coords-2="47.800891397511745, 107.50387405323406"
                      data-coords-2-title="Red Rock Wilderness Camp"
                    >
                        <span class="number"><span>3</span></span>
                          <h3 class="title">Stay in a Ger</h3>
                          <img
                          src="../img/map/img-13.jpg"
                          width="389"
                          height="219"
                          alt="Stay in a Ger"
                        />
                          <p class="text">Experience the traditional way of life with a stay in a Ger, a circular tent designed to remain cool and airy in the summer, yet extremely well insulated during Mongolia’s cold winters.
                          </p>
                        
                    </div>


                    <!-- 4 -->
                    <div
                      class="map-location"
                      data-location-id="id-14"
                      data-coords="47.18996230173792, 102.8344277661183"
                    >
                        <span class="number"><span>4</span></span>
                          <h3 class="title">Kharakorum</h3>
                          <img
                          src="../img/map/img-14.jpg"
                          width="389"
                          height="219"
                          alt="Kharakorum"
                        />
                          <p class="text">Visit Kharakorum for a glimpse at the ancient Mongol Empire's history and explore the ruins of the empire’s former capital that was once an important stop along the former Silk Road.
                          </p>
                        
                    </div>

                    <!-- 5 -->
                    <div
                      class="map-location"
                      data-location-id="id-15"
                      data-coords="47.201224271155596, 102.84099322642692"
                    >
                        <span class="number"><span>5</span></span>
                          <h3 class="title">Erdene Zuu Monastery</h3>
                          <img
                          src="../img/map/img-15.jpg"
                          width="389"
                          height="219"
                          alt="Erdene Zuu Monastery"
                        />
                          <p class="text">Believed to be the first Buddhist monastery in Mongolia, the ancient temple complex was founded in 1586 and is now part of the Orkhon Valley Cultural Landscape World Heritage Site.
                          </p>
                        
                    </div>
                  </div>
                </div>
                <div class="map-category open" data-category="business">
                  <div class="map-category-header">
                    Business
                  </div>
                  <div class="map-category-content">
                    <!-- 1 -->
                    <div
                      class="map-location"
                      data-location-id="id-16"
                      data-coords="47.33130999681944, 103.68953698353145"
                    >
                        <span class="number"><span>1</span></span>
                          <h3 class="title">Elsen Tasarkhai</h3>
                          <img
                          src="../img/map/img.jpg"
                          width="389"
                          height="219"
                          alt="Elsen Tasarkhai"
                        />
                          <p class="text">Known as ‘Little Gobi,’ this 50-mile (80 km) stretch of golden sand dunes is just a 4-hour drive from Ulaanbaatar, making it accessible for visitors short on time who still want to experience the Mongolian desert.
                          </p>
                        
                    </div>

                    <!-- 2 -->
                    <div
                      class="map-location"
                      data-location-id="id-17"
                      data-coords="47.92065190994425, 106.91540420000715"
                    >
                        <span class="number"><span>2</span></span>
                          <h3 class="title">National History Museum of Mongolia</h3>
                          <img
                          src="../img/map/img-4.jpg"
                          width="389"
                          height="219"
                          alt="National History Museum of Mongolia"
                        />
                          <p class="text">Explore Mongolia's rich history, culture, and heritage at the National Museum, where you can discover ancient artifacts, nomadic traditions, and Genghis Khan's legacy with a captivating journey through time.
                          </p>
                        
                    </div>

                    <!-- 3 -->
                    <div
                      class="map-location"
                      data-location-id="id-18"
                      data-coords="47.92078919745241, 106.89494851939496"
                    >
                        <span class="number"><span>3</span></span>
                          <h3 class="title">Gandan Monastery</h3>
                          <img
                          src="../img/map/img-3.jpg"
                          width="389"
                          height="219"
                          alt="Gandan Monastery"
                        />
                          <p class="text">This monastery’s full name—Gandantegchinlen—translates as ‘the great place of complete joy.’ With over 100 resident monks, it is considered the center of Buddhism in Mongolia. 
                          </p>
                        
                    </div>


                    <!-- 4 -->
                    <div
                      class="map-location"
                      data-location-id="id-19"
                      data-coords="47.80843864777549, 107.52994314606964"
                    >
                        <span class="number"><span>4</span></span>
                          <h3 class="title">Genghis Khan Statue Complex</h3>
                          <img
                          src="../img/map/img-2.jpg"
                          width="389"
                          height="219"
                          alt="Genghis Khan Statue Complex"
                        />
                          <p class="text">Climb the inside of this 141-foot-tall (40 m) statue for panoramic views of the Mongolian countryside and visit the attached museum for exhibitions relating to Bronze Age cultures in Mongolia. 
                          </p>
                        
                    </div>


                    <!-- 5 -->
                    <div
                      class="map-location"
                      data-location-id="id-20"
                      data-coords="47.9233948066077, 106.93437348367196"
                    >
                        <span class="number"><span>5</span></span>
                          <h3 class="title">Fly-fishing</h3>
                          <img
                          src="../img/map/img-5.jpg"
                          width="389"
                          height="219"
                          alt="Fly-fishing"
                        />
                          <p class="text">Head for Mongolia’s remote wilderness to fly-fish with a licensed professional guide in designated rivers to catch taimen, the world’s largest salmonid that can grow up to 4.9 ft (1.5 m) long.  
                          </p>
                        
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
