<section class="hero" data-video-load>
	<a href="/" data-link-src class="hero-logo"><img
			src="{{ url.step1 }}img/logo.png" alt></a>

	<div class="hero-wrap full-screen">
		<div class="hero-bg full-screen">
			<div class="hero-bg-inner full-screen"
				style="background-image: url(../img/hero-bg-big.jpg);">
			</div>
			<div class="hero-fg-noj full-screen">
				<div class="hero-fg-inner full-screen"
					style="background-image: url(../img/hero-windturbine-big.png);"></div>
				<div class="hero-pattern"></div>
			</div>
		</div>
		<div class="hero-text">
			<div class="hero-subtitle">Meet MONGOLIA:</div>
			<h1>Harnessing Mongolia’s
				<span>Greatest Resource</span>
			</h1>
			<p>As Mongolia races to become East Asia’s first net zero economy, new
				leisure opportunities emerge for business travelers.</p>
		</div>
	</div>

	<button class="hero-button">
		{# <div class="overflow-hidden"> #}
			<div class="hero-button_text">
				<span>Scroll to read</span>
				<span>Scroll to read</span>
			</div>
			{# </div> #}
	</button>
</section>
